{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
<h1>列表页面</h1>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        {% for head in head_list %}
        <th>{{ head }}</th>
        {% endfor %}

    </tr>
    </thead>
    <tbody>
    {% for obj in data_list %}
    <tr>
    {% for col in obj %}
    <td>{{ col }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{##}
{#{% for data in data_list %}#}
{#    {% for col in data %}#}
{#        {{ col }}#}
{#    {% endfor %}#}
{#    #}
{#{% endfor %}#}

</body>
</html>